<div class="ai-toolbox">
  <div class="hero">
    <div class="container">
      <div class="row navigation">
        <div class="six columns">
          <h1><%= link_to "monk", root_path %></h1>
        </div>
        <div class="six columns menu">
          <div class="u-pull-right">
            <%= link_to "Home", root_path %>
            <%= link_to "Blog", "http://trymonk.com/blog" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="five columns">
          <%= image_tag "Logo - Figure.png", class: "robot" %>
        </div>
        <div class="seven columns">
          <h2 class="title">AI Toolbox</h2>
          <h6>Search for the most popular open source AI libraries</h6>
          <%= form_tag search_repos_path do %>
            <%= text_field_tag :query %>
            <%= submit_tag "Search", class: "button-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="two columns">
        &nbsp;
      </div>
      <div class="eight columns">
        <% @repos.each do |repo| %>
          <div class="repo">
            <div class="row">
              <div class="eight columns">
                <a href="<%= repo.github_url %>" target="_blank">
                  <h6 class="name"><%= repo.user %> / <%= repo.name %></h6>
                </a>
              </div>
              <div class="four columns">
                <div class="timestamp">Created <%= time_ago_in_words(repo.github_created_at) %> ago</div>
              </div>
            </div>
            <div class="row">
              <div class="three columns">
                <table class="stats">
                  <tr><td>Forks:</td><td><%= repo.forks_count %></td></tr>
                  <tr><td>Stargazers:</td><td><%= repo.stargazers_count %></td></tr>
                  <tr><td>Watchers:</td><td><%= repo.subscribers_count %></td></tr>
                </table>
              </div>
              <div class="nine columns">
                <p><%= repo.description %> </p>
              </div>
            </div>

            <div class="commit_activity">
              <b>Commit Activity</b>
              <table>
                <% 7.times do |day| %>
                  <tr>
                    <% 52.times do |week| %>
                      <td style="opacity: <%= repo.commit_activity[week]["days"][day] / 50.0 %>"> </td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
