<div class="ai-toolbox">
  <div class="hero">
    <div class="container">
      <div class="row navigation">
        <div class="six columns">
          <h1><%= link_to "monk", root_path %></h1>
        </div>
        <div class="six columns menu">
          <div class="u-pull-right">
            <%= link_to "Home", root_path %>
            <%= link_to "Blog", "http://trymonk.com/blog" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <%= image_tag "Logo - Figure.png", class: "robot" %>
        </div>
        <div class="six columns">
          <h1 class="title">AI Toolbox</h1>
          <h6>Search for the most popular open source libraries</h6>
          <input type="text"></input>
          <input type="submit" value="Search" class="button-primary"></input>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% @repos.each do |repo| %>
        <div class="repo">
          <h6><%= repo.user %>/<%= repo.name %></h6>
          <p>Forks: <%= repo.forks_count %></p>
          <p>Stargazers: <%= repo.stargazers_count %></p>
          <p>Watchers: <%= repo.watchers_count %></p>
          <p>Subscribers: <%= repo.subscribers_count %></p>
          <p>Created: <%= time_ago_in_words(repo.github_created_at) %> ago</p>

          <table class="commit_activity">
            <% 7.times do |day| %>
              <tr>
                <% 52.times do |week| %>
                  <td style="opacity: <%= repo.commit_activity[week]["days"][day] / 80.0 %>"> </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
