<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <div class="container">
      <div class="row navigation">
        <div class="six columns">
          <h1><%= link_to "monk", root_path %></h1>
        </div>
        <div class="six columns menu">
          <div class="u-pull-right">
            <%= link_to "home", root_path %>
            <%= link_to "blog", "http://trymonk.com/blog" %>
            <%= link_to "submit a repo", new_repo_path %>
          </div>
        </div>
      </div>
    </div>
    <%= render "layouts/flash" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
